body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

canvas {
    display: block;
}

#loadingScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-size: 2em;
    color: white;
    overflow: hidden; /* Ensure no overflow */
}

#loadingCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.7;
    }
}

#controls {
    position: fixed;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);

    width: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-section {
    padding: 10px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.control-section h3 {
    margin: 0 0 10px 0;
    color: #333;
    font-size: 1.2em;
}

.control-section label {
    display: block;
    margin: 5px 0;
}

.control-section input[type=range] {
    width: 100%;
}

.control-section input[type=color] {
    border: none;
    background: none;
    height: 30px;
    width: 30px;
    padding: 0;
    vertical-align: middle;
    border-radius: 50%; /* Added this line to make it circular */
}

.control-section input[type=checkbox] {
    margin-right: 5px;
}

details {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

summary {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    vertical-align: middle;
}
    
.green-button {
    background-color: green;
    color: white;
    margin: 8px;
}

.red-button {
    background-color: red;
    color: white;
    margin: 8px;
}

button:hover {
    background-color: #0056b3;
}



.control-section-speed {
    position: fixed;
    bottom: 2%; /* Distance from the bottom of the viewport */
    left: 50%; /* Set left to 50% of the viewport width */
    transform: translateX(-50%); /* Shift leftwards by half its own width */

    height: 8px;

    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;

    display: flex;
    align-items: center;
}


.control-speed-label {
    font-size: 14px;
    margin-right: 4px;
    color: #555;
}

.speed-label {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.top-right-corner {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #094271;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

#modeText {
    margin-top: 8px;
    font-size: 10px;
    user-select: none;
}

/* Your existing styles */

#timeBarContainer {
    height: 16px;
    width: 20%;
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
    align-items: flex-end;
}

#timeBar {
    height: 100%;
    width: 100%; /* Set width to 100% to fill the container */
    background-color: #4CAF50; /* Green fill color */
    border-radius: 5px;
}

#timeBarText {
    margin: 24px;
    text-align: center; /* Center the text */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

