<!DOCTYPE html>
<html>
<head>
    <title>3D Mesh Visualization</title>
</head>
<body>
    <div id="loadingScreen">
        <div id="loadingCircle"></div>
    </div>

    <div id="timeBarContainer">
        <div id="timeBar"></div>
        <div id="timeBarText">Frame: 0 / 0</div>
    </div>
    
    <div id="modeSwitchContainer" class="top-right-corner">
        <label class="switch">
            <input type="checkbox" id="modeSwitch">
            <span class="slider"></span>
        </label>
        <span id="modeText">Light Mode</span>
    </div>
    


    <div id="controls">
        <details class="control-section">
            <summary>Inner Points</summary>
            <label>Size: <input type="range" id="innerSize" min="0.001" max="0.1" step="0.01" value="0.025"></label>
            <label>Color: <input type="color" id="innerColor" value="#b0c4b1"></label>
            <label>Visible: <input type="checkbox" id="innerVisible" checked></label>
        </details>
    
        <details class="control-section">
            <summary>Outermost Points</summary>
            <label>Size: <input type="range" id="outerSize" min="0.001" max="0.1" step="0.01" value="0.05"></label>
            <label>Color: <input type="color" id="outerColor" value="#53131D"></label>
            <label>Visible: <input type="checkbox" id="outerVisible" checked></label>
        </details>
    
        <details class="control-section">
            <summary>Faces</summary>
            <label>Opacity: <input type="range" id="facesOpacity" min="0" max="1" step="0.1" value="0.50"></label>
            <label>Color: <input type="color" id="facesColor" value="#F6F6F3"></label>
            <label>Visible: <input type="checkbox" id="facesVisible" checked></label>
        </details>
    
        <details class="control-section">
            <summary>Edges</summary>
            <label>Opacity: <input type="range" id="edgeOpacitySlider" min="0" max="1" step="0.01" value="1"></label>
            <label>Color: <input type="color" id="edgeColorPicker" value="#090B0B"></label>
            <label>Visible: <input type="checkbox" id="edgeVisible" checked></label>
        </details>
    </div>



    <div id="controls-right">
        <details class="control-section">
            <summary>Axes</summary>
            <label>Color: <input type="color" id="axesColorPicker" value="#090B0B"></label>
            <label>Visible: <input type="checkbox" id="axesVisible" checked></label>
        </details>
        
        <details class="control-section">
            <summary>Grid Helpers</summary>
            <label>Color: <input type="color" id="gridHelpersColorPicker" value="#090B0B"></label>
            <label>Visible: <input type="checkbox" id="gridHelpersVisible" checked></label>
        </details>
    </div>

    <div id="export-container">
        <button id="export-button">Export</button>
        <ul id="export-options" class="hidden">
            <li><button id="export-jpeg">Export as JPEG</button></li>
            <li><button id="export-png">Export as PNG</button></li>
            <!-- Additional formats can be added here -->
        </ul>
    </div>
    
    
    <div class="control-section-speed">
        <label class="speed-label">Speed: </label>
        <label class="control-speed-label">0.1X</label>
        <input type="range" id="speedControl" min="0.1" max="5" step="0.1" value="1">
        <label class="control-speed-label">5X</label>
        <button id="playButton" class="green-button">Play</button>
        <button id="pauseButton" class="red-button">Pause</button>
    </div>

    <div id="container"></div>
    <div id="label" style=  "
                                display: none; 
                                position: absolute; 
                                pointer-events: none; 
                                padding: 5px; 
                                background: #F4F5F6; 
                                border: 1px solid black;
                                padding: 8px;
                                border-radius: 0 10px 10px 10px; /* top-left, top-right, bottom-right, bottom-left */
                            "></div>
</body>
</html>
